{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {%if is_granted('ROLE_ADMIN') or app.user == user%}
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>
                    
                    <a href="{{ path('app_profile_show', {'id': user.id}) }}">voir</a>
                    <a href="{{ path('app_profile_edit', {'id': user.id}) }}">éditer</a>
                
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN')%}
    <a href="{{ path('app_profile_new') }}">Créér un user</a>
    {% endif %}
{% endblock %}
