{% extends 'base.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block body %}
    <h1>Promotion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ promotion.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ promotion.description }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ promotion.dateFin ? promotion.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Formateur</th>
                <td>
                    {% for formateur in formateurs %}
                    {{ formateur.nom }}   {{ formateur.prenom }}
                    {% if not loop.last %}, {% endif %} {% endfor %}
                  </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_responsable_promotion_index') }}">retour à la liste</a>

    <a href="{{ path('app_responsable_promotion_edit', {'id': promotion.id}) }}">éditer</a>

    {{ include('responsable/promotion/_delete_form.html.twig') }}
{% endblock %}
