{% extends 'base.html.twig' %}

{% block title %}
    Liste des Promotions
{% endblock %}

{% block body %}
<main>
    <div class="main-content">
        <link rel="stylesheet" href="{{ asset('assets/homePage.css') }}">
        
        <div class="content-container">
            <div class="list-container">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE_TERRITORIAL') or is_granted('ROLE_FORMATEUR') %}
                    <h1>Liste des promotions</h1>
                    <ul class="home-page-ul">
                        {% for promotion in promotions %}
                            <li class="home-page-li">
                                <a class="home-page-a" href="{{ path('app_home_promotion_show', { id: promotion.id }) }}">
                                    {{ promotion.nom }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    
                    <div class="pagination">
                        {{ knp_pagination_render(promotions) }}
                    </div>
                {% else %}
                    <h1 id="title_home">Bienvenue sur le site de Pop School !</h1>
                    
                {% endif %}
            </div>
            <div class="image-container">
                <img src="{{ asset('images/logo_bleu.png') }}" alt="Image Description">
            </div>
        </div>
    </div>
</main>
{% endblock %}


