{% extends 'base.html.twig' %} {% block title %}Accueil{% endblock %} {% block
body %}
<div class="promotion-show">
  <link rel="stylesheet" href="{{ asset('assets/homePage.css') }}" />

  <div class="list-container">
    <h2>Nom de la promotion : {{ promotion.nom }}</h2>

    <div class="paragraphe">
      <p>Formateurs :</p>
    </div>
    {% for formateur in formateurs %}
    <ul class="home-page-ul">
      <li class="home-page-li">{{ formateur.nom }} {{ formateur.prenom }}</li>
    </ul>
    {% endfor %}
    <br />
    
    <div class="paragraphe">
      <p>Apprenants :</p>
    </div>
    <ul class="home-page-ul">
      {% for apprenant in apprenants %}
      <li class="home-page-li">
        <a
          class="home-page-a"
          href="{{ path('app_home_apprenant_show', { id: apprenant.id }) }}">
          {{ apprenant.nom }} {{ apprenant.prenom }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="image-container">
    <img
      src="{{ asset('images/logo_bleu_clair.png') }}"
      alt="logo_bleu_Pop_School" />
  </div>
</div>
{% endblock %}
