{% extends 'base.html.twig' %}

{% block title %}Liste des Apprenants{% endblock %}

{% block body %}
    <h1>Liste des Apprenants</h1>
    <div class="button-container">
        <button class="btn"><a href="{{ path('app_admin_apprenant_new') }}">Créer un apprenant</a></button>
    </div>
    <table class="table">
        <thead>
            <tr>
              
                <th>Nom</th>
                <th>Prenom</th>
                <th>Genre</th>
                <th>Date de Naissance</th>
                <th>Téléphone</th>
                <th>Consentement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for apprenant in apprenants %}
                <tr>
                    <td>{{ apprenant.nom }}</td>
                    <td>{{ apprenant.prenom }}</td>
                    <td>{{ apprenant.genre }}</td>
                    <td>{{ apprenant.dateNaissance ? apprenant.dateNaissance|date('d-m-Y') : '' }}</td>
                    <td>{{ apprenant.telephone }}</td>
                    <td>{{ apprenant.consentement ? 'Oui' : 'Non' }}</td>
                    <td>
                        <div class="button-container"> 
                            <a class="btn-action" href="{{ path('app_admin_apprenant_show', {'id': apprenant.id}) }}">Voir</a>
                            <a class="btn-action" href="{{ path('app_admin_apprenant_edit', {'id': apprenant.id}) }}">Éditer</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {{ knp_pagination_render(apprenants) }}
    </div>
{% endblock %}
