{% extends 'base.html.twig' %}

{% block title %}Liste des Apprenants{% endblock %}

{% block body %}
    <h1>Liste des Apprenants</h1>
    <a href="{{ path('app_admin_apprenant_new') }}">Créer un apprenant</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Genre</th>
                <th>Date de Naissance</th>
                <th>Téléphone</th>
                <th>Consentement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for apprenant in apprenants %}
                <tr>
                    <td>{{ apprenant.id }}</td>
                    <td>{{ apprenant.nom }}</td>
                    <td>{{ apprenant.prenom }}</td>
                    <td>{{ apprenant.genre }}</td>
                    <td>{{ apprenant.dateNaissance ? apprenant.dateNaissance|date('d-m-Y') : '' }}</td>
                    <td>{{ apprenant.telephone }}</td>
                    <td>{{ apprenant.consentement ? 'Oui' : 'Non' }}</td>
                    <td>
                        <a href="{{ path('app_admin_apprenant_show', {'id': apprenant.id}) }}">Voir</a>
                        <a href="{{ path('app_admin_apprenant_edit', {'id': apprenant.id}) }}">Éditer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(apprenants) }}
{% endblock %}
