{% extends 'base.html.twig' %}

{% block title %}Apprenant index{% endblock %}

{% block body %}
    <h1>Apprenant index</h1>

    <a href="{{ path('app_admin_apprenant_new') }}">Créér</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Genre</th>
                <th>DateNaissance</th>
                <th>Telephone</th>
                <th>Consentement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for apprenant in apprenants %}
            <tr>
                <td>{{ apprenant.id }}</td>
                <td>{{ apprenant.nom }}</td>
                <td>{{ apprenant.prenom }}</td>
                <td>{{ apprenant.genre }}</td>
                <td>{{ apprenant.dateNaissance ? apprenant.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ apprenant.telephone }}</td>
                <td>{{ apprenant.consentement ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_admin_apprenant_show', {'id': apprenant.id}) }}">voir</a>
                    <a href="{{ path('app_admin_apprenant_edit', {'id': apprenant.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
