{% extends 'base.html.twig' %}

{% block title %}Apprenant{% endblock %}

{% block body %}
    <h1>Apprenant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ apprenant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ apprenant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ apprenant.prenom }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ apprenant.genre }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ apprenant.dateNaissance ? apprenant.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ apprenant.telephone }}</td>
            </tr>
            <tr>
                <th>Consentement</th>
                <td>{{ apprenant.consentement ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_apprenant_index') }}">Retour à la liste</a>

    <a href="{{ path('app_admin_apprenant_edit', {'id': apprenant.id}) }}">éditer</a>

    {{ include('admin/apprenant/_delete_form.html.twig') }}

{% endblock %}
