{% extends 'base.html.twig' %}

{% block title %}Hello DonneesAdministrativesController!{% endblock %}

{% block body %}

{{ form_start(form) }}

{{ form_row(form.lieuNaissance) }}
{{ form_row(form.email) }}
{{ form_row(form.paysNaissance) }}
{{ form_row(form.adresse) }}
{{ form_row(form.codePostal) }}
{{ form_row(form.commune) }}
{{ form_row(form.nationalite) }}
{{ form_row(form.situationProfessionnelle) }}
{{ form_row(form.numeroPoleEmploi) }}
{{ form_row(form.derniereClasseSuivie) }}
{{ form_row(form.dernierDiplomeObtenu) }}
<button type="submit">Valider</button>
{{ form_end(form) }}

{% endblock %}
