{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block
body %}

{{ form_start(registrationForm) }}
<section class="container">
  <div class="row">
    <div class="col">
      <h1>Inscription</h1>

      {{ form_errors(registrationForm) }}
      <fieldset>
        <legend>Mon inscription</legend>
        {{ form_row(registrationForm.email) }}
        {{
          form_row(registrationForm.plainPassword, {
            label: "Password"
          })
        }}
        {{
          form_row(registrationForm.confirmedPassword, {
            label: "Confirmez votre mot de passe"
          })
        }}
        {{ form_row(registrationForm.captcha) }}
        {{ form_errors(registrationForm.captcha) }}
        <button type="submit" class="btn">s'inscrire</button>
      </fieldset>
    </div>
  </div>
</section>
{{ form_end(registrationForm) }}

{% endblock %}
