{% extends 'base.html.twig' %}

{% block title %}ResponsableTerritorial index{% endblock %}

{% block body %}
    <h1>ResponsableTerritorial index</h1>
    <a href="{{ path('app_admin_responsable_territorial_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for responsable_territorial in responsable_territorials %}
            <tr>
                <td>{{ responsable_territorial.id }}</td>
                <td>{{ responsable_territorial.nom }}</td>
                <td>{{ responsable_territorial.prenom }}</td>
                <td>{{ responsable_territorial.createdAt ? responsable_territorial.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ responsable_territorial.updatedAt ? responsable_territorial.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ responsable_territorial.deletedAt ? responsable_territorial.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_responsable_territorial_show', {'id': responsable_territorial.id}) }}">show</a>
                    <a href="{{ path('app_admin_responsable_territorial_edit', {'id': responsable_territorial.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
