{% extends 'base.html.twig' %}

{% block title %}Responsable Territorial index{% endblock %}

{% block body %}
    <h1>Responsable Territorial index</h1>
    <div class="button-container"> 
    <a class="btn-action" href="{{ path('app_admin_responsable_territorial_new') }}">Créér</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for responsable_territorial in responsable_territorials %}
            <tr>
                <td>{{ responsable_territorial.id }}</td>
                <td>{{ responsable_territorial.nom }}</td>
                <td>{{ responsable_territorial.prenom }}</td>
                <td>
                    <div class="button-container"> 
                    <a class="btn-action" href="{{ path('app_admin_responsable_territorial_show', {'id': responsable_territorial.id}) }}">voir</a>
                    <a class="btn-action" href="{{ path('app_admin_responsable_territorial_edit', {'id': responsable_territorial.id}) }}">éditer</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
