{% extends 'base.html.twig' %}

{% block title %}Hello FormulaireCommunController!{% endblock %}

{% block body %}
    <h1>Formulaire Commun</h1>

    {{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.genre) }}
    {{ form_row(form.dateNaissance) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.promotion) }}

    <button type="submit">Valider</button>

    {{ form_end(form) }}
{% endblock %}
