{% extends 'base.html.twig' %}

{% block title %}Formulaire pédagogique{% endblock %}
{% block body %}
<h1>Formulaire pédagogique</h1>
{{form_start(form)}}
{{form_row(form.compteGithub)}}
{{form_row(form.compteDiscord)}}
{{form_row(form.compteLinkedin)}}
<button type="submit">Valider</button>
{{form_end(form)}}
{% endblock %}
