<div class="container">
    <div class="form-container">
      {{ form_start(form) }}
  
      <div class="form-row">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
      </div>
      <div class="form-row">
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom) }}
      </div>
      <div class="form-row">
        {{ form_label(form.user.email) }}
        {{ form_widget(form.user.email) }}
      </div>
      <div class="form-row">
        {{ form_widget(form.user.password) }}
      </div>
      <div class="form-row">
        <div class="gap">
          {{ form_label(form.promotions) }}
        </div>
        <div class="scroller">
          {{ form_widget(form.promotions) }}
        </div>
      </div>
      <button class="btn-action">
        {{ button_label|default('enregistrer') }}
      </button>
      {{ form_end(form) }}
    </div>
  </div>
  