{% extends 'base.html.twig' %} {% block title %}Formateur{% endblock %} {% block
body %}
<h1>Formateur</h1>

<table class="table">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ formateur.id }}</td>
    </tr>
    <tr>
      <th>Nom</th>
      <td>{{ formateur.nom }}</td>
    </tr>
    <tr>
      <th>Prenom</th>
      <td>{{ formateur.prenom }}</td>
    </tr>
    <tr></tr>
    <th>Promotions</th>
    <td>
      {% for promotion in promotions %}
      {{ promotion.nom }}
      {% if not loop.last %}, {% endif %} {% endfor %}
    </td>
  </tbody>
</table>
<div class="button-container">

  <a class="btn-action" href="{{ path('app_responsable_formateur_index') }}">retour</a>
  
  <a class="btn-action" href="{{ path('app_responsable_formateur_edit', { id: formateur.id }) }}"
    >éditer</a
  >
  
  {{ include("responsable/formateur/_delete_form.html.twig") }}
</div>
{% endblock %}
