<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Roboto&display=swap" rel="stylesheet">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-xx8DwQHnx4B04t00DEE0ivdK2BCvDlLc3g0G0H50pb7hoBwAYmpCjcq4g5XMlDF6tr9w1U1B9gA1NIOk0ApEsw==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ asset('assets/base.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/homePage.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/login.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/table.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/registration.css') }}">
  <script src="{{ asset('assets/script.js') }}"></script>
</head>

<header>
    {% block header %}
    <div class="header">

      <div class="logo">
        {% if is_granted('ROLE_ADMIN')}
        <a class="active" href="{{ path('app_home') }}"> <img src="{{ asset('images/pop_school.png') }}" alt="Pop School Logo"></a>
      </div>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
     </div>
     <div class="menu">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="active" href="{{ path('app_home') }}">Accueil</a>
                <a href="{{ path('app_admin_administrateur_index') }}">Administrateur</a>
                <a href="{{ path('app_admin_responsable_territorial_index') }}">RT</a>
                <a href="{{ path('app_admin_promotion_index') }}">Promotions</a>
                <a href="{{ path('app_admin_formateur_index') }}">Formateurs</a>
                <a href="{{ path('app_recherche') }}">Rechercher un apprenant</a>
                <a href="{{ path('app_admin_apprenant_index') }}">Apprenants</a>
                <a href="{{ path('app_profile_index') }}">Mon profil</a></li>
            {% elseif is_granted('ROLE_RESPONSABLE_TERRITORIAL') %}
                <a href="{{ path('app_responsable_promotion_index') }}">Promotions</a>
                <a href="{{ path('app_responsable_formateur_index') }}">Formateurs</a>
                <a href="{{ path('app_recherche') }}">Rechercher un Apprenant</a>
                <a href="{{ path('app_profile_index') }}">profil</a>
            {% elseif is_granted('ROLE_FORMATEUR') %}
                <a href="{{ path('app_recherche') }}">Rechercher un apprenant</a>
                <a href="{{ path('app_home') }}">Promotions</a>
                <a href="{{ path('app_profile_index') }}">profil</a>
            {% elseif is_granted('ROLE_APPRENANT') %}
                <a href="{{ path('app_profile_index') }}">profil</a>
                <a href="{{ path('app_donnees_communes_index') }}">mes données</a>
            {% endif %}
  
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_register') }}">Inscription</a>
                <a href="{{ path('app_login') }}">Connexion</a>
            {% endif %}
        </div>
     
    </div>
    {% endblock %}
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer class="footer-container">
    
    <div class=" contain container1">
     <h5>A propos</h5>
    <a href="https://popschool.fr/">Site de de Pop School</a>
    </div>

    <div class="contain container3">
     <h5>Nos réseaux</h5>
     <div class="reseaux">
    <a href="https://www.linkedin.com/company/pop-school/?originalSubdomain=fr" target="_blank"><i class="ri-linkedin-fill"></i></a>
    <a href="https://www.facebook.com/POPSchoolFr/" target="_blank"><i class="ri-facebook-fill"></i></a>
    <a href="https://twitter.com/Plus2POPSchool" target="_blank"><i class="ri-twitter-fill"></i></a>
    <a href="https://www.instagram.com/popschoolfr/?hl=fr" target="_blank"><i class="ri-instagram-fill"></i></a>
    <div>
    </div> 
</footer>
</html>


