{% extends 'base.html.twig' %}

{% block title %}Formateur{% endblock %}

{% block body %}
<main>
    <h1>Formateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ formateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ formateur.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_formateur_index') }}">retour à la liste</a>

    <a href="{{ path('app_admin_formateur_edit', {'id': formateur.id}) }}">éditer</a>

    {{ include('admin/formateur/_delete_form.html.twig') }}
</main>
{% endblock %}
